html {
  height: 100%;
  font-size: calc(1000vw / 32);
}

body {
  margin: 0;
  background-color: #303133;
  min-height: 100%;
  position: relative;
}
body::before{
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: inline('mobile/map.png'), inline('mobile/city.png');
  background-position: center top, center bottom;
}

.list {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: .5rem .16rem .5rem .24rem;
  min-height: 100%;
  color: #fff;
}
.item {
  display: flex;
  margin-bottom: .2rem;
}
.item-icon {
  flex: 0 0 .4rem;
  margin-right: .2rem;
}
.item-icon img {
  display: block;
  width: 100%;
  box-shadow: 0 .04rem .07rem 0 rgba(0, 0, 0, 0.3);
}
.item-text {
  min-width: 2.2rem;
}
.item-title,.item-content{
  font-size: .12rem;
  margin: 0;
}
.item-title {
  margin-bottom: .01rem;
  font-weight: bold;
}

@media (min-width: 1336px) {
  html {
    font-size: initial;
    min-height: 1380px;
  }
  body::before {
    max-width: 1600px;
    min-height: 1380px;
    background-image: inline('pc/map.png'), inline('pc/city.png');
    
  }
  .list {
    padding: 380px 0;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .item {
    width: 50%;
    padding: 0 80px;
    margin: 0;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
  .item-icon {
    flex: 0 0 103px;
    width: 103px;
    margin-right: 32px;
  }
  .item-icon img{
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
  }
  .item-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .item-content{
    font-size: 18px;
  }
}
